<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-custom-album"
    version="1.1">
    <name>CustomAlbum</name>
    <description>Expertees Cordova Custom Album</description>
    <license>Apache 2.0</license>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
                <feature name="CustomAlbum">
                <param name="ios-package" value="CustomAlbum" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/ios/Bridging-Header.h" />
        <source-file src="src/ios/SwiftyJSON.swift" />
        <source-file src="src/ios/CustomAlbum.swift" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="CustomAlbum">
                <param name="android-package" value="customalbum.CustomAlbum" />
            </feature>
            <preference name="android-minSdkVersion" value="17" />
            <preference name="android-targetSdkVersion" value="23" />
        </config-file>


        <source-file src="src/android/customalbum/CustomAlbum.java" target-dir="src/customalbum/" />
        <source-file src="src/android/customalbum/build-extras.gradle" target-dir="../android" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="23" />
                <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>

        <!--
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        </config-file>
        -->


    </platform>

</plugin>
